---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "12:00"
      timezone: "Africa/Cairo"



  - package-ecosystem: "maven"
    directory: "/"
    schedule:
        interval: "daily"
        time: "12:00"
        timezone: "Africa/Cairo"